.riscado {
    text-decoration: line-through;
}

.tabelaDados, .tabelaDados th, .tabelaDados td {
    border: 1px solid #000;
}
.tabelaDados {
    border-collapse: collapse;
}
.tabelaDados th, .tabelaDados td {
    padding: 20px;
}
.tabelaDados thead th {
    background-color: black;
    color: white;
}
.tabelaDados tfoot tr {
    background-color: #aaa;
}
/* .striped { */
.tabelaDados tbody tr:nth-child(even) {
    background-color: #ccc;
}